<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Visitor Counter</title>

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>
<body>

<div class="container my-2">
    <h1 align="center">Visitor Counter</h1>
    <br>
    <h2 align="center" th:text="'Visitor count: ' + ${listVisitors.size}">Visitors Count</h2>
    <br>
    <form th:action="@{/save}" th:object="${saveVisitor}" method="POST">
        <p align="center"><button type="submit" class="btn btn-primary">Call Backend</button></p>
    </form>
    <br>
    <table class="table table-striped table-responsive-md">
        <thead class="table-dark">
        <tr>
            <th>Visitor ID</th>
            <th>User Agent</th>
            <th>Date</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="visitor : ${listVisitors}">
            <td th:utext="${visitor.id}">Visitor ID</td>
            <td th:utext="${visitor.userAgentInfo}">User Agent</td>
            <td th:utext="${visitor.accessDate}">Access Date</td>
            <td>
                <a th:href="@{/deleteVisitor/{id}(id=${visitor.id})}" class="btn btn-danger">delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
